/* *******************************************
GENERAL SYTLES 
******************************************** */


body {
	font-family: 'Karla', sans-serif;
	font-size: 16px; /*all subsquents ems based on 16px*/
	color: #3C4857;
	font-weight: 400;
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
}


html {
  scroll-behavior: smooth;
}


p {
	font-size: 1.25em
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	color: #3C4857;
	font-weight: 600;
}


h2 {
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	color: #3C4857;
	font-weight: 400; 
	display: inline-block;
}


h3 {
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	color: #3C4857;
	font-weight: 400;
}


.bold {
	font-weight: 700;
}


.headline {
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
	color: #3C4857;
	font-weight: 400;
}


.portfolio-titles {
	font-family: 'Playfair Display', serif;
	font-size: 1.85em;
	color: #3C4857;
	font-weight: 600; 
	padding-top: 20px;
	display: inline-block;
}


a {
	color: #3C4857;
}

a:hover {
	color: #6C809A;
}

a:visited {
	color: inherit;
}


.main-container {
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0 1em;
	position: relative;
}

.para-link {
	color: inherit;
	font-weight: 700;
	border-bottom: 4px solid #FEE06E;
	transition: none;
}

li {
	margin-bottom: 20px;
	font-size: 1.25em;
}


.content-margin {
	margin-top: 40px;
}



/* ==========Buttons styles============= */

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="submit"].btn,
button.btn {
	cursor: pointer;
}

a.btn,.btn {
  	margin-right: 1em;
  	margin: 1em;
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 2px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}

.buttons {
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	margin: 0 auto;
	text-align: center;
}

.btn {
	padding: 0.5375em 1.375em;
	color: #3C4857;
	border-color: #3C4857;
}

.btn:hover {
  background: #FEE06E;
  color: #3C4857;
  border-color: #FEE06E;		
}




/* *******************************************
NAVIGATION & LOGO
******************************************** */

.logo {
	color: #3C4857;
	font-size: 5em;
	float: left;
	margin: 0 20px;
}

.logo a {
	color: #3C4857;
}


.top-bar > a:hover {
	color: #FEE06E;
	transition: .2s
}


ul {
	display: inline-block;
}

.menu a {
	color: #3C4857;
}


.menu-icon {
	margin: 30px;
}


.top-bar, .top-bar ul {
	background-color: transparent;
}


.title-bar {
	background-color: transparent;	
}


.nav-link-style a:after {
    content: '';
    display: block;
    width: 0;
    margin-top: 2px;
    height: 3px;
    background: #FEE06E;
    transition: width .3s;
}


.nav-link-style a:hover::after {
    width: 100%;
}


.nav-link-style a {
	color: inherit;
} 



/*===== FOOTER  ====*/


.connect {
	display: block;
	margin: 100px auto 0 0;
	padding-top: 50px;
	text-align: center;

}

.connect li {
	display: inline-block;
	list-style: none;
	padding: 0 1em;
	margin: 0 auto;
}



.connect a:visited {
	color: none;
}


.connect a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 1px;
    height: 3px;
    background: #FEE06E;
    transition: width .3s;
}


.connect a:hover::after {
    width: 100%;
    //transition: width .3s;
}

.connect a {
	color: inherit;
}


.copyright {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;
	font-size: 1em;
	line-height: 1em;
}

.unicode {
	font-size: 1.5em;
}


footer {
	width: 75%;
	margin: 0 auto 20px;
	padding: 1em 0 .5em;
	text-align: center;
	font-size: 1em;
	line-height: 1.5em;
}




/* *******************************************
LANDING PAGE - WELCOME HERO
******************************************** */

.wrapper {
	background-image: url(../topography_extralight.svg);
	height: 100%;
	width: 100%;
}

.layer {
    background-color: rgba(252, 224, 110, 0.33);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.welcome {
	margin: 130px auto;
	padding: 0 0 0 30px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;
	column-gap: 40px;
}


body {
	opacity: 0;
    animation: WelcomeAnimation;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes WelcomeAnimation {
	0% {
	  opacity: 0;
	  transform: translateY(20px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }


.intro {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	align-self: start;	
}

.name-title {
	font-size: 8.5em;
	line-height: .8;
	font-weight: 400;
	display: inline;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 1;
	align-self: end;
}


.hello {
	font-size: 1.7em;
	margin: 34px 0 0;
	width: 580px;
	
}


.status {
	display: flex;
	margin: 24px 0 32px;
}

.status p {
	font-size: 1.125em;
	letter-spacing: 1px;
}


.green-light {
	height: 20px;
	width: 20px;
	background-color: #86efac;
	border-radius: 9999px;
	border: 2px solid #4ade80;
	display: inline-block;
	margin: 4px 8px 0 0;
}


h6 {
	font-size: .75em;
	letter-spacing: .75px;
}

.Link-container {
	display: inline-block;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	align-self: end;
	margin: 34px 0;
}

.intro-links {
	list-style-type: none;
	margin-top: 8px;
}


.intro-links {
	margin-left: 0;
}

.intro-links span {
    font-size: 1.2em;
    padding: 0 8px 0 0;
}

.intro-links li {
	margin-bottom: 4px;
	font-size: 1.2em;
}


.intro-links a:visited {
	color: none;
}

.intro-links a:hover {
  font-weight: 600;
}

.intro-links a {
	color: inherit;
}


.upcoming {
	font-size: 1.5em;
	font-weight: 400;
	margin-top: 60px;
	border: 4px dotted #FEE06E;
	padding: 20px;
}

.upcoming p:first-of-type {
	margin-bottom: 30px;
}

.updates-bold {
	font-weight: 700;
}


.learn-more a {
	color: inherit;
	font-weight: 700;
	border-bottom: 4px solid #FEE06E;
	transition: none;
}


/* *******************************************
WORK & PRODUCT VERTICALS
******************************************** */

.work-wrapper {
	width: 100%;
	height: 500px;
}


.intro-wrapper {
	background-image: url(../topography_extralight.svg);
	width: 100%;
	height: 400px;
}


.work-intro {
	margin: 0 auto 20px;
	padding: 0 30px 0;
}


.work-intro h1 {
	font-family: 'Playfair Display', serif;
	display: inline-block;
	font-size: 3em;
	color: #3C4857;
	font-weight: 600;
	border-bottom: 4px solid #FEE06E;
}

.work-intro p {
	font-size: 1.4em;
}


.client-list {
	margin-top: 10px;
}





/*======= Projects section - Cards ======*/

.card {
	border-radius: 8px;
	border: 1px solid #EDECDD;
	background: #FFF;
}


.work-pv-container {
	margin-top: 80px;
}

.pv-container {
	margin-top: 40px;
}

.tiles {
	max-width: 545px;
}


.tiles img {
	border-radius: 8px;
}


figcaption {
	font-size: 1.2em;
}

.oakdig-hero-caption {
	margin-left: 5%;
	margin-bottom: 50px;
}

.project-title {
	font-family: 'Playfair Display', serif;
	font-size: 1.6em;
	color: #3C4857;
	font-weight: 600; 
	padding-top: 10px;
	display: inline-block;
}



/*====== product verticals section =====*/


.pverticals-wrapper {
	width: 100%;
	height: 300px;
	margin-top: 80px;
}

.pv-intro {
	margin: 50px auto;
	padding: 0 30px 0;
}

.pv-intro p {
	width: 70%;
	margin-top: 15px;
	line-height: 1.6em;
	font-size: 1.4em;
}

.pv-text {
	display: inline-block;
}


/* *******************************************
PROJECT CASE STUDIES
******************************************** */

.project-intro {
	margin: 50px auto;
	padding: 0 30px 0; 
}

.project-hero {
	margin-bottom: 80px;
}

.project-hero > img {
	margin: 0 auto;
	display: block;
	width: 90%;
	height: 100%;
	border-radius: 20px;
}


.main-image {
	margin: 0 auto;
}

.subsection-text {
	margin-bottom: 60px;
}


.subsection-title h2 {
	margin: 10px 0;
}



.portfolio-captions {
	margin-top: 15px;
}


.project-images {
	margin: 0 auto;
	margin-bottom: 80px;
}


.project-images > figure {
	margin: 0 auto;
}

.project-images > img {
	display: inline-block;
	margin: 0 auto;
}

.video-container {
	margin: 0 auto;
	margin-bottom: 15px;
	display: block;
	width: 90%;
	height: 100%;
	border-radius: 20px;
}
/*Oakland digital*/


.next-project {
	display: block;
}


.vimeo-vids {
	margin-bottom: 60px;
}


/*--------------------------*/
/* design iterations slides */
/*--------------------------*/

.slide-container {
	width: 1072.5px
}


.mySlides {
	display: none;
	width: 100%;
}


.mySlides2 {
	display: none;
	width: 100%;
}



.slidebuttonContainer {
	text-align: center;
	margin: 0px 0 56px;
}


.slide-button {
	font-size: 1.5em;
    padding: 10px;
    color: #3C4857;
}

.slide-button:hover {
	color: #0098FF;
}

.pointer {
	cursor: pointer;
}






/*--------------------*/
/* project navigation */
/*--------------------*/

.project-nav {
	height: 3em;
	clear: both;
}



.prev-next {
	font-family: 'Karla', sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: #3C4857;
	font-weight: 400;
	background-color: #FEE06E;	
}


.prev-next a {
	padding-top: 5px;
}


.back-to-work-container {
	margin-top: 130px;
}



.back-wpv {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	color: #3C4857;
	font-weight: 700; 
	border-bottom: 4px solid #FEE06E;
	text-align: center;	
}




/* *******************************************
ABOUT
******************************************** */


.about {
  margin: 50px auto;
  padding: 0 30px 0;
}

.about h1 {
	font-family: 'Playfair Display', serif;
	display: inline-block;
	font-size: 3em;
	color: #3C4857;
	font-weight: 600;
	border-bottom: 4px solid #FEE06E;
}


.tldr {
	border-bottom: 2px solid #E3E3E3;
}

.about-unicode {
	font-size: 1em;
}

.about-headlines {
	font-family: 'Playfair Display', serif;
	font-size: 1.6em;
	color: #3C4857;
	font-weight: 400;
}



/* *******************************************
MEDIA QUERIES
******************************************** */

/*==== small screens ====*/




@media screen and (min-width: 40em) and (max-width: 65em) {


	.top-bar > a:hover {
		color: inherit;
		 -moz-transition: none;
	    -webkit-transition: none;
	    -o-transition: color 0 ease-in;
	    transition: none;
		}


	.nav-link-style a:after {
	    color: inherit;
		 -moz-transition: none;
	    -webkit-transition: none;
	    -o-transition: color 0 ease-in;
	    transition: none;
	    background: none;
	    }

	.connect a:after {
	    color: inherit;
		 -moz-transition: none;
	    -webkit-transition: none;
	    -o-transition: color 0 ease-in;
	    transition: none;
	    background: none;
	    }

	
	.welcome {
		margin: 130px auto;
		padding: 0;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 3fr;
	}

	.Link-container {
		display: inline-block;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 3;
		align-self: end;
		margin: 24px 0;
	}

}

.project-intro {
	margin: 50px auto;
	padding: 0 30px 0; 
}


@media screen and (max-width: 39.9375em) {
	.work-wrapper {
		 background-image: url(../topography_extralight.svg);
		 width: 100%;
		 height: 550px;
		 }
 
 
	 .pverticals-wrapper {
		 background-image: url(../topography_extralight.svg);
		 width: 100%;
		 height: 350px;
		 margin-top: 80px;
		 }
 
 
 
	 .productverticals {
		 padding: 0 15px 0;
	 }	
	 
 
	 .pv-intro {
		 margin: 0 auto;
		 padding: 0 30px 0;
		 }
 
 
 
	 .pv-intro p {
		 width: 100%;
		 margin-top: 15px;
		 line-height: 1.6em;
	 }
 
 
 
	 .top-bar > a:hover {
		 color: inherit;
		  -moz-transition: none;
		 -webkit-transition: none;
		 -o-transition: color 0 ease-in;
		 transition: none;
		 }
 
 
	 .nav-link-style a:after {
		 color: inherit;
		  -moz-transition: none;
		 -webkit-transition: none;
		 -o-transition: color 0 ease-in;
		 transition: none;
		 background: none;
		 }
 

	 .connect a:after {
		 color: inherit;
		  -moz-transition: none;
		 -webkit-transition: none;
		 -o-transition: color 0 ease-in;
		 transition: none;
		 background: none;
		 }


	.welcome {
			margin: 130px auto;
			}


	.name-title {
		font-size: 6em;
		}
	

	.hello {
		font-size: 1.2em;
		margin: 34px 0 0;
		width: 330px;
		}
	
		 
	.Link-container {
		display: inline-block;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 3;
		align-self: end;
	  }
 
  .green-light {
    height: 18px;
    width: 21px;
    background-color: #86efac;
    border-radius: 9999px;
    border: 2px solid #4ade80;
    display: inline-block;
    margin: 4px 8px 0 0;
  }

  .status p {
    font-size: 1em;
    letter-spacing: 1px;
  }

  .intro-links li {
    margin-bottom: 4px;
    font-size: 1.1em;
  }

  .project-intro {
    margin: 50px auto;
    padding: 0 10px 0;
  }


 }






@media screen and (max-width: 28.125em) {
   .work-wrapper {
		background-image: url(../topography_extralight.svg);
		width: 100%;
		height: 800px;
		}
	

	.name-title {
		font-size: 5em;
		}	


	.hello {
		font-size: 1.3em;
		font-weight: 400;
		margin: auto 10;
		}	


	.upcoming {
  		font-size: 1.125em;
  	}


	h1 {
		font-family: 'Playfair Display', serif;
		font-size: 2.5em;
		color: #3C4857;
		font-weight: 600;
		}
	
	
	.work-intro h1 {
		font-size: 2.5em;
	}

	.headline {
		font-family: 'Playfair Display', serif;
		font-size: 2.0em;
		color: #3C4857;
		font-weight: 400;
		}


  .name-title {
    font-size: 6em;
  }

	.welcome {
		margin: 130px auto;
		padding: 0;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 3fr;
		column-gap: 40px;

	}

	.Link-container {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 3;
		align-self: end; 
	}


  .green-light {
    height: 18px;
    width: 21px;
    background-color: #86efac;
    border-radius: 9999px;
    border: 2px solid #4ade80;
    display: inline-block;
    margin: 4px 8px 0 0;
  }

  .status p {
    font-size: 1em;
    letter-spacing: 1px;
  }

  .intro-links li {
    margin-bottom: 4px;
    font-size: 1.1em;
  }

  .project-intro {
    margin: 50px auto;
    padding: 0 10px 0;
  }


}
