/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* css reset begins here*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset*/

/*grid structure*/
/*  GRID OF EIGHT   ============================================================================= */

	
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
	width: 87.3%; 
}

.span_6_of_8 {
	width: 74.6%; 
}

.span_5_of_8 {
	width: 61.9%; 
}

.span_4_of_8 {
	width: 49.2%; 
}

.span_3_of_8 {
	width: 36.5%;
}

.span_2_of_8 {
	width: 23.8%; 
}

.span_1_of_8 {
	width: 11.1%; 
}

/*begin styles*/
body {
	background-image: url(linen.png);
}

.span_6_of_8 {
	margin: 0 auto; 
	overflow: hidden;
}

.span_6_of_8 header {
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	color: #e74c3c;
	float: left;
	text-align: center;
	margin: 2%;
}

.span_4_of_8 {
	margin: 0 auto; 
}

.statement {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #191970;
	/*color: #152e47;*/
	float: left;
	width: 100%;
	margin: 5% 1% 8% 1%;
}

.statement p {
	line-height: 1.5;
	margin-bottom: 3%;
}

.span_4_of_8 h1 {
	color: #e74c3c;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	margin: 8%;
}

.span_7_of_8 {
	margin: 6% auto;
}

.circle1 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #e74c3c;
	float: left;
	margin: 0 7%;
	font-family: 'Cabin', sans-serif;
	font-size: 194px;
	color: #f39c12;
	text-align: center;
}

.circle2 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #e74c3c;
	float: left;
	margin: 0 7%;
	font-family: 'Cabin', sans-serif;
	font-size: 194px;
	color: #f39c12;
	text-align: center;
}

.circle3 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #e74c3c;
	float: left;
	margin: 0 10%;
	font-family: 'Cabin', sans-serif;
	font-size: 194px;
	color: #f39c12;
	text-align: center;
}


.span_2_of_8 {
	float: left;
	padding: 3%;
	margin: 0 auto;
}

.span_2_of_8 p {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #191970;
	width: 100%;
	clear: all;
}

a {
	color: #e74c3c;
	text-decoration: none;
}

a:visited {
	color: #e74c3c;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_8_of_8 {
		width: 100%; 
	}
	.span_7_of_8 {
		width: 100%; 
	}
	.span_6_of_8 {
		width: 100%; 
	}
	.span_5_of_8 {
		width: 100%; 
	}
	.span_4_of_8 {
		width: 100%; 
	}
	.span_3_of_8 {
		width: 100%; 
	}
	.span_2_of_8 {
		width: 100%; 
	}
	.span_1_of_8 {
		width: 100%; 
	}
}









































