/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* css reset begins here*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset*/

/*begin styles*/

body {
	background: url(pw_maze_white2X.png);
}

.main-page {
	float: left;
	width: 100%;
	margin: 5%;
}

.content {
	float: left;
	width: 90%;
	height: 1700px;
	background-color: white;
	box-shadow: 10px 10px 0px rgba(245,208,76,1); 
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

header {
 	float: left;
 	width: 100%;
 }

nav {
 	margin: 1%;
 	float: left;
 	width: 40%;
 	background-color: rgba(245,208,76,1);
} 


li {
 	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: 1.5em;
 	display: inline-block;
 	margin: 1%;
 	padding: 1%;
 	text-align: center;
 }

.logo {
	float: right;
	width: 25%;
	margin: 2%;
}

.box {
	width: 6em;
	height: 2em;
	float: left;
	font-family: 'Vollkorn', serif;
	color: black;
	text-align: center;
	font-size: 5em;
	padding: 2%;
}

.hello {
	float: left;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: 4em;
 	text-align: center;
 	margin-bottom: 15%;
}

#projects {
	float: left;
	width: 95%;
	height: 600px;
	margin: 2%;
	padding: 1%;
	background-color: rgba(245,208,76,1);
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: 3em; 
}

h1 {
	clear: both;
	width: 15%;
	padding: 1%;
}

.one {
	float: left;
	width: 26%;
	margin: 3%
}

.two {
	float: left;
	width: 26%;
	margin: 3%;
}

.three {
	float: left;
	width: 25%;
	margin: 3%;
}


p {
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: .4em; 
 	padding: 1%;
 	width: 100%;
}

.one h2 {
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: .5em;
 	float: left;
 	width: 100%; 
 	margin: 1%;
}

.two h2 {
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: .5em;
 	float: left;
 	width: 100%; 
 	margin: 1%;
}

.three h2 {
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: .5em;
 	float: left;
 	width: 100%; 
 	margin: 1%;
}

#about {
	float: left;
	width: 95%;
	height: 600px;
	padding: 2%; 
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: 2.75em; 
}

.bio {
	width: 90%;
	padding: 3%;
	font-size: .7em;

}

h2 {
	font-family: 'Quicksand', sans-serif;
 	color: black;
 	font-size: 2em;
 	float: left;
 	width: 100%; 
 	margin: 1%;
}

#eitc img {
	margin: 4%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#inkspot img {
	margin: auto;
}

.contact {
	float: left;
	width: 100%;
	margin-top: 5%;
}

.icon {
		float: left;
		width: 100%;
		margin: auto 0;
		margin-left: 45%;
		}
/*media queries*/

@media screen and (max-width:1300px) {
    .logo {
            float: left;
            width: 60%;
      			text-align: center;
            font-size: 12px;
  }
  	.box {
						float: left;
						width: 40%;
						margin: auto;
						text-align: center;
		}

		#projects {
						float: left;
						width: 95%;
						height: 1560px;
						margin: 2%;
						padding: 1%;
						background-color: rgba(245,208,76,1);

				}		
		
			.one,.two,.three {
				float: left;
				width: 63%;
				margin: auto;
				padding-bottom: 2%;
				}

			#projects p {
				width: 350px;
			} 

				.content {
					height: 2200px;
			}		
		}

		



@media screen and (max-width:1287px) {
    .logo {
                  float: left;
                  width: 60%;
            			text-align: center;
                  font-size: 12px;
  }
  	.box {
  								float: left;
  								width: 40%;
  								margin: auto;
  								text-align: center;

  	}
		#projects {
			float: left;
			width: 95%;
			height: 1560px;
			margin: 2%;
			padding: 1%;
			background-color: rgba(245,208,76,1);

	}		
		
	.one,.two,.three {
		float: left;
		width: 63%;
		margin: auto;
		padding-bottom: 2%;
		}

	#projects p {
		width: 350px;
	} 

		.content {
			height: 2200px;
	}		
}

