/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*===============end reset================*/
/*columns*/

.span_one_of_three {
	width: 31.333%;
}

.span_two_of_three {
	width: 64.667%;
}

.span_three_of_three {
	width: 98%;
}

/*  general styles ========================================= */

* { 
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
 }

/*clearfix to make sure divs don't collapse*/
.row:before,
.row:after {
    content: "";
    display: table;
} 
.row:after {
    clear: both;
}
.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Lora', serif;
	font-size: 16px; /*all subsquents ems based on 16px*/
	width: 100%;
	height: 100%;
}


@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-hzpays');
	src:url('fonts/icomoon.eot?#iefix-hzpays') format('embedded-opentype'),
		url('fonts/icomoon.woff?-hzpays') format('woff'),
		url('fonts/icomoon.ttf?-hzpays') format('truetype'),
		url('fonts/icomoon.svg?-hzpays#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}

#icons {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	clear: both;
}

#icons li {
	display: inline-block;
	text-align: center;
	width: 1.2em;
	font-size: 2em;
	color:#000;
	padding-top: .5em;
}

#icons a {
	color: #000;
}

#icons a:visited {
	color: #000;
}

#icons a:hover {
	color: #01B8CA;;
}



a {
	text-decoration: none;
}

a:visited {
	color: none;
}

.bold {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.portfolio-main img
.project img {
	width: 100%;
}

.main-container {
	width: 100%;
	height: 100%;
  max-width: 1000px;
	margin: auto;
	padding: 0 1em;
	position: relative;
}


nav {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 2em;
}


nav ul {
 	float: right;
	
}

nav li {
	display: inline-block;
	zoom: 1;
    *display: inline;
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	padding: .25em;
}



nav a {
	color: #000;
	padding: 0 0.25em;
	display: inline-block;
	font-weight: 500;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}


nav a {
    outline: none;
    color: #404d5b;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    vertical-align: bottom;
    line-height: 1.5;
}
 
nav a::before,
nav a::after {
    pointer-events: none;
    backface-visibility: hidden;
}

.para-anchors,
nav a:hover {
	color: #01B8CA;
}

nav a::before,
nav a::after {
	position: absolute;
	top: 0;
	font-weight: 100;
	font-size: 150%;
	line-height: 1;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

nav a::before {
	left: -0.1em;
	content: '[';
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

nav a::after {
	right: -0.1em;
	content: ']';
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

nav a:hover::before,
nav a:hover::after {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}


figure {
	position: relative;
	margin: 2em 0;
}

figcaption {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 1em;
	padding: 1em 0 1.5em 0;
}

footer {
	width: 350px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

.copyright {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	padding: .5em;
	margin-bottom: 1em;
}

.top-arrow {
	position: fixed;
	right: 1.563em;
	z-index: 100;
	bottom: 0;
	margin-left: 2%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 35px 35px 35px;
	border-color: transparent transparent rgba(71, 84, 92, 0.8) transparent;
	margin-bottom: 1em;
}

.top-arrow-home {
	position: fixed;
	right: 1.563em;
	z-index: 100;
	bottom: 0;
	margin-left: 2%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 35px 35px 35px;
	border-color: transparent transparent rgba(71, 84, 92, 0.8) transparent;
}


.top-arrow a {
	color: rgba(71, 84, 92, 0.8);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1em;
	text-align: center;
	margin-top: 14px;
	margin-left: -12px;
	z-index: 200;
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.top-arrow-home a {
	color: rgba(71, 84, 92, 0.8);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1em;
	text-align: center;
	margin-top: 14px;
	margin-left: -12px;
	z-index: 200;
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.top-arrow a:visited {
	 color: rgba(71, 125, 92, 0.8);
}

.top-arrow-home a:visited {
	 color: rgba(71, 105, 92, 0.8);
}

.top-arrow-home a:active,
.top-arrow-home a:hover,
.top-arrow a:active,
.top-arrow a:hover {
	color: #fff;
}



/*  div styles - home ========================================= */

/***********top section************/

.arrow {
	width: 100%;
	height: 100%;
	position: relative;
}

.arrow:after {
	bottom: -40px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 40px;
	margin-left: -40px;
}

.welcome {
	height: 100%;
	text-align: center;
	margin-top: -62px;
}

.welcome:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.name-title {
	width: 100%;
	max-width: 630px;
	display: inline-block;
	vertical-align: middle;
}

.name {
	text-align: left;
	line-height: 1;		
	font-size: 6em;
	color: #01B8CA;
}

.ux-title {
	text-align: right;	
	line-height: 1.2;
	font-size: 4.5em;
	font-style: italic;
} 


/***********about section************/

.about {
	width: 100%;
	background-color: #01B8CA;
	margin-top: -40px;
}

.intro-container {
	width: 100%;
	padding: 4em 1em;
	margin-bottom: 1em;
}

.intro {
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
	padding: 5em 0; 
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.25;
}

.fts {
	color: #000;
}

.fts:hover {
	color: #ef6970;
}


/*  div styles - portfolio ========================================= */

.portfolio-main {	
}

.portfolio-title {
	font-size: 3em;
	line-height: 2;
	padding-left: 10px;	
}

.items {
	float: left;
	margin: 1%;
}




/*  div styles - projects ========================================= */

.intro-pic {
	float: left;
	width: 100%;
	margin-bottom: 1em;
}


.wireframe {
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 2em 0;	
}

.prototype {
	width: 60%;
	margin: 0 11em;
	padding: 3em 0;
}

.project-text {
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.project-text h2 {
	padding-top: .5em;
	font-size: 2.5em;
	text-align: center;
	margin: .5em 0;
}

.project-text h3 {
	font-size: 1.5em;
	text-align: center;
	margin: .5em 0 .25em 0;
}

.project-text p {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.6;
	padding-bottom: 1.5em;
}

ul {
	list-style: circle inside none; 
}

.project-text li {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.2;
	padding: .5em 0;
}

.project-text li:last-child {
	padding-bottom: 1.7em;
}

/*  media queries ========================================= */

@media all and (max-width: 500px) {
		.name {
			font-size: 4em;
		}

		.ux-title {
			font-size: 3em;
		}

		.wireframe,
		.prototype,
		.span_one_of_three,
		.span_two_of_three {
			width: 98%;
			margin: 0 auto;
		}

		.intro {
			width: 85%;
		}

		.top-arrow a {
	  	color: #fff;
}
}

















